<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <!-- メッセージ相手を選択するナビ -->
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <% if @client == current_user %>
          <ul class="nav nav-pills nav-stacked">
            <% @users.each do |user| %>
                <li class="active"><a href="/recruits/<%= @recruit.id %>/messages/<%= user.id %>"><%= user.name %></a></li>
            <% end %>
          </ul>
        <% else %>
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="/recruits/<%= @recruit.id %>/messages/<%= @client.id %>"><%= @client.name %></a></li>
          </ul>
        <% end %>

      </div>

      <!--チャット画面-->
      <div class="message_view col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="panel panel-default ">

          <!--チャットのぶん面-->
          <div class="panel-heading">
            <h1 class="panel-title">message view</h1>
          </div>

          <div class="panel-body">
            <% @messages.each do |message| %>
                <% if message.to_id == current_user.id %>
                  <div class="text-left">
                      <div id='chat'><%= message.body %></div>
                  </div>
                <% else %>
                  <div class="text-right">
                    <div id='chat'><%= message.body %></div>
                    </div>
                <% end %>
            <% end %>
          </div>

        </div>

        <%= form_for [@recruit, @message] do |f| %>
          <%= f.hidden_field :to_user_id, :value => @to_user_id%>
          <div class='inputText'>
            <%= f.text_area :body, placeholder: 'Shift+Enterで送信', rows: "5", id: "txt", class: "form-control" %>
            <%= button_tag type: "submit", class: "btn btn-primary chat-btn pull-right", style: "margin-top: 1em" do %>
              投稿する
            <% end %>
            <!-- <button type="button" class="btn btn-primary chat-btn pull-right" style="margin-top: 1em">承認</button> -->
          </div>
        <% end %>

      </div>


    </div>
  </div>
</div>
